<nz-layout class="app-layout">
    <nz-sider
        class="menu-sidebar"
        nzCollapsible
        nzWidth="256px"
        nzBreakpoint="md"
        [nzTrigger]="null"
    >
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img
                    src="https://ng.ant.design/assets/img/logo.svg"
                    alt="logo"
                />
                <h1>Ant Design Of Angular</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                nzTooltipPlacement="right"
                routerLink="/ai-tools"
                nzSelected
            >
                <span nz-icon nzType="tool" nzTheme="outline"></span>
                <span>AI Magic Tools</span>
            </li>
            <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                nzTooltipPlacement="right"
                routerLink="/custom-ai-tools"
                nzSelected
            >
                <span nz-icon nzType="thunderbolt" nzTheme="outline"></span>
                <span>AI Training</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <div class="search-select">
                    <nz-select
                        nzPlaceHolder="Select OS"
                        [nzCustomTemplate]="defaultTemplate"
                    >
                        <nz-option
                            nzLabel="Windows"
                            nzValue="windows"
                        ></nz-option>
                        <nz-option nzLabel="Apple" nzValue="apple"></nz-option>
                        <nz-option
                            nzLabel="Android"
                            nzValue="android"
                        ></nz-option>
                    </nz-select>
                    <ng-template #defaultTemplate let-selected>
                        <span nz-icon [nzType]="selected.nzValue"></span>
                        {{ selected.nzLabel }}
                    </ng-template>
                </div>
                <div class="user">
                    <a
                        nz-dropdown
                        nzTrigger="click"
                        [nzDropdownMenu]="menu"
                        class="user-name"
                        [nzPlacement]="'bottomRight'"
                    >
                        <img
                            src="assets/img/notification.png"
                            alt=""
                            class="img-notification"
                        />
                        <nz-avatar nzIcon="user"></nz-avatar>
                        <span
                            nz-icon
                            nzType="down"
                            nzTheme="outline"
                            class="icon-down-profile"
                        ></span>
                    </a>
                    <nz-dropdown-menu
                        #menu="nzDropdownMenu"
                        class="drop-log-out"
                    >
                        <ul nz-menu class="list-of-user">
                            <div class="user">
                                <div class="avatar">
                                    <nz-avatar nzIcon="user"></nz-avatar>
                                </div>
                                <p nz-typography>Phương Dương Đình</p>
                                <p nz-typography>phuongdd@volio.vn</p>
                            </div>
                            <li nz-menu-item>
                                <div class="account flex">
                                    <span
                                        nz-icon
                                        nzType="setting"
                                        nzTheme="outline"
                                    ></span>
                                    <div class="profile">
                                        <p nz-typography>My Account</p>
                                        <p nz-typography>
                                            Edit account profile
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li nz-menu-item>
                                <div class="account flex">
                                    <span
                                        nz-icon
                                        nzType="setting"
                                        nzTheme="outline"
                                    ></span>
                                    <div class="profile">
                                        <p nz-typography>Workspace Settings</p>
                                        <p nz-typography>Edit workspace</p>
                                    </div>
                                </div>
                            </li>
                            <li nz-menu-item>
                                <div class="account flex">
                                    <span
                                        nz-icon
                                        nzType="setting"
                                        nzTheme="outline"
                                    ></span>
                                    <p nz-typography>ML Lab</p>
                                </div>
                            </li>
                            <li nz-menu-item>
                                <div class="account flex">
                                    <span nz-icon nzType="logout" nzTheme="outline"></span>
                                    <p nz-typography>Logout</p>
                                </div>
                            </li>
                            <p nz-typography style="text-align: center;">By using Runway, you agree to our Terms of Use and Privacy Policy</p>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
